{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "> 5%"
        ]
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-transform-remove-console"
      ]
    }
  }
}
